{% extends "base.html" %}
{% block title %}{{ organization.short_name }}{% endblock %}

{% block content %}

<h2>{{ organization.short_name }}</h2>
<p>
  {{ organization.full_name }}

  {% if organization.org_roles.all %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Люди
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

            {% include "people/min_table.html" %}

        </div>
      </div>
    </div>
   
  {% endif %}

  {% if organization.systems.all %}
    <h3>Разработанные системы</h3>
    {% include "isystems/min_table.html" with systems=organization.systems.all %}
  {% endif %}

  <h3>Реквизиты</h3>
  <table class='table table-striped table-bordered'>
    {% if organization.addresses.all %}
    {% for address in organization.addresses.all %}
        <tr><td>{{ address.address_type }}</td><td>{{ address.address }}</td></tr>
    {% endfor %}
    {% endif %}
    <tr><td>Телефоны</td><td>{{ organization.phones }}</td></tr>
    <tr><td>Факсы</td><td>{{ organization.faxes }}</td></tr>
    <tr><td>Emails</td><td>{{ organization.emails }}</td></tr>
    <tr><td>ИНН</td><td>{{ organization.inn }}</td></tr>
    <tr><td>Р/с №</td><td>{{ organization.rs }}</td></tr>
    <tr><td>К/с №</td><td>{{ organization.ks }}</td></tr>
    <tr><td>БИК</td><td>{{ organization.bik }}</td></tr>
    <tr><td>КПП</td><td>{{ organization.kpp }}</td></tr>
    <tr><td>ОКПО</td><td>{{ organization.okpo }}</td></tr>
    <tr><td>ОГРН</td><td>{{ organization.ogrn }}</td></tr>

    <tr><td>Сайт</td><td><a href="{{ organization.sites }}" target="_blank">{{ organization.sites }}</a></td></tr>
    <tr><td>Карточка организации</td><td><a href="{{ organization.official_info }}" target="_blank">{{ organization.official_info }}</a></td></tr>
  </table>

</p>

{% endblock %}
