<form method="post" action="{% url 'organizations:organization_create' %}" 
      class="js-organization-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Добавить новую организацию</h4>
  </div>
  <div class="modal-body">
    {% include 'organizations/organization_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
    <button type="submit" class="btn btn-primary">Добавить</button>
  </div>
</form>
